body {
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    color:blue;
}
.title_act, .person_name{
    color: gray;

}

.text{
    font-size: 18px;
    line-height: 1.6;
}

